<p class="text-rainbow-animation" style="text-align-last:right; font-size: 0px;">
  &#9886;
  <mat-toolbar style="display: grid; grid-template-columns: 15% 60% 25%;width: 100%;" >
    <span style="font-size: 2em;">🌈</span><span style="font-size: 1.5em;"> Current Events</span><span style=" color: maroon;font-size: 2em">ǋ</span>
  </mat-toolbar>
  &#9886;
</p>

<div>
  <mat-nav-list class="basic-list"  role="list" >
    <mat-list-item  class="basic-list-item" role="listitem" *ngFor="let event of events">

      <a  matListItemTitle routerLink="/detail/{{event.id}}">{{event.title}}
        <p matListItemLine class="demo-2">  {{event.date}} </p>
      </a>

    
    </mat-list-item>
    
  </mat-nav-list>
</div>