<p>
  <mat-toolbar>
    <span>Current events</span>
  </mat-toolbar>
</p>

<div>
  <mat-list role="list" >
    <mat-list-item role="listitem" *ngFor="let event of events">
     <div>
      <div>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="title" value={{event.title}}>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput placeholder="date" value={{event.date}}>
      </mat-form-field>
    </div>
      <a mat-icon="more_vert" routerLink="/detail/{{event.id}}">...
    
      </a>
      </div>
    </mat-list-item>

  </mat-list>
</div>