<div *ngIf="event">
    <mat-card>
        <mat-card-content>
        <h2>{{event.title | uppercase}} Details</h2>
        
        <div>
        <label for="event-title">Event title: </label>
        <input id="event-title" [(ngModel)]="event.title" placeholder="Event title"/>
        </div>
   
        <div>
            <label for="event-date">Event Date: </label>
            <input id="event-date" [(ngModel)]="event.date" placeholder="Event date"/>
        </div>

        <div>
            <label for="event-description">Event Description: </label>
            <input id="event-description" [(ngModel)]="event.description" placeholder="Event description"/>
        </div>

        <div>
            <label for="event-notes">Event Notes: </label>
            <input id="event-notes" [(ngModel)]="event.notes" placeholder="Event notes"/>
        </div>

      
        
        </mat-card-content>
    </mat-card>
    <a mat-flat-button (click)="goBack()">back to the list</a>
  </div>