<div *ngIf="event">
    <mat-card>
    <mat-card-title>Event Details
    </mat-card-title>
        <mat-card-header>
            {{event.title | uppercase}}
        </mat-card-header>
        <mat-card-content>
      
        <mat-divider [inset]="true"></mat-divider>
        <div>
        <label for="event-title">Event title: </label>
        <input id="event-title" [(ngModel)]="event.title" placeholder="Event title"/>
        </div>
   
        <div>
            <label for="event-date">Event Date: </label>
            <input id="event-date" [(ngModel)]="event.date" placeholder="Event date"/>
        </div>

        <div>
            <label for="event-description">Event Description: </label>
            <input id="event-description" [(ngModel)]="event.description" placeholder="Event description"/>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div>
            <label for="event-notes">Event Notes: </label>
            <input id="event-notes" [(ngModel)]="event.notes" placeholder="Event notes"/>
        </div>

      
        
        </mat-card-content>
        <mat-divider color="primary"></mat-divider>
        <mat-card-actions>
            <button mat-raised-button (click)="goBack()" color="primary">back to the list</button>
        </mat-card-actions>
    </mat-card>
   
  </div>